name: Docker Build

on:
  pull_request:
    branches: [main]
    paths:
      - "Dockerfile"
      - "go.mod"
      - "go.sum"
      - "cmd/**"
      - "internal/**"
      - "db/migrations/**"
  push:
    branches: [main]
    paths:
      - "Dockerfile"
      - "go.mod"
      - "go.sum"
      - "cmd/**"
      - "internal/**"
      - "db/migrations/**"

permissions:
  contents: read

jobs:
  docker-build:
    name: Docker Build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Build Docker image
        run: docker build -t satvos:${{ github.sha }} .
